* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: black;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 4px;
    font-size: 20px;
}

.btn:hover {
    background: white;
    color: black;
    margin: 5px;
}

#canvas {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    position: relative;
    overflow: hidden;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}